:root {
    --white: #ffffff;
    --black: #000000;
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
  }
  .container {
    margin: 0;
    font-family: "Quicksand", sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box {
    display: flex;
  flex-direction: column;
  align-items: center;
  }
  }
  .logo {
    width: 180px;
    margin: auto;
    display: block;
    margin-bottom: 50px;
  }
  .title {
    font-size: var(--lg);
    margin-bottom: 0px;
    text-align: center;
  }
  .subtitle {
    color: var(--very-light-pink);
    font-size: var(--md);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
    margin-top: 1.5em;
  }
  .email-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--text-input-field);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

  }
  .email-image img {
    width: 90px;
  }
  .letter {
    width: 100px;
    margin: auto;
  }
  .primary-button {
    height: 3em;
    width: 100%;
    background-color: var(--hospital-green);
    border: none;
    border-radius: 8px;
    color: var(--white);
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    margin-top: 16px;
  }
  a {
    text-decoration: none;
    color: var(--hospital-green);
  }
